In [90]:
import pandas as pd
import re

In [97]:
# Read the text file
with open('test.txt', 'r') as file:
    lines = file.readlines()
    
# Check if every even-numbered line starts and ends with brackets
for line in lines[1::2]:
    if not line.strip().startswith('(') or not line.strip().endswith(')'):
        print(line)

# Check if every even-numbered line starts and ends with brackets
valid_format = all(line.strip().startswith('(') and line.strip().endswith(')') for line in lines[1::2])
valid_format

True

In [98]:
if not valid_format:
    print("Error: The format of the file is incorrect. Every even-numbered line should start and end with brackets.")
else:
    # Initialize lists to store data
    courses = []
    universities = []

    # Iterate through the lines and extract data
    for i in range(0, len(lines), 2):
        course = lines[i].strip()
        university = lines[i + 1].strip()[1:-1]  # Remove brackets
        courses.append(course)
        universities.append(university)

    # Create a DataFrame
    df = pd.DataFrame({'Course of Study': courses, 'University': universities})

    # Display the DataFrame
df

,Course of Study,University
0,MEDICINE,University of Colombo
1,MEDICINE,University of Peradeniya
2,MEDICINE,University of Sri Jayewardenepura
3,MEDICINE,University of Kelaniya
4,MEDICINE,University of Jaffna
...,...,...
242,DANCE #,Ramanathan Academy of Fine Arts
243,VISUAL & TECHNOLOGICAL ARTS #,Swami Vipulananda Institute of Aesthetic Studies
244,MUSIC #,Swami Vipulananda Institute of Aesthetic Studies
245,DANCE #,Swami Vipulananda Institute of Aesthetic Studies
246,DRAMA & THEATRE #,Swami Vipulananda Institute of Aesthetic Studies

In [99]:
df.to_csv('programs_universities.csv', index=False)

print("DataFrame saved as CSV successfully.")

DataFrame saved as CSV successfully.